/* |||| Universal selector styles |||| */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* |||||||| Element selector styles |||||||| */
body {
    background-color: #d9dcd6;
}

/* ~~ Moved ancor and paragraph selectors inside element selector section ~~ */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* ~~ Changed class selectors for .header to element and sub-element selectors under header ~~ */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ~~ Changed class selector .hero to standard semantic <figure> element, this applies styles to the <figure> element and loads background image ~~ */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* ~~ Changed class selector .content to a semantic element <main> ~~ */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* ~~ Consolidated h2 styling within the <main> element rather than using three independent class selectors ~~ */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ~~ Consolidated formating for articles within the <main> element rather than using independent class selectors ~~ */
main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* ~~ Consolidated img size within articles for the <main> element rather than using independent class selectors ~~ */
main article img {
    max-height: 200px;
}

/* ~~ Changed class selector .benefits to a semantic element selector for asides, consolidated text margin and coloring for the aside element ~~ */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* ~~ Consolidated h3 styling within the only <aside> element rather than using three independent class selectors ~~ */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* ~~ Consolidated individual class styling within the only <aside> element as each article element within the aside needs the same margin and color ~~ */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* ~~ Consolidated img styling for articles within the only <aside> element as each image needs the same display type, margin, and max width ~~ */
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ~~ Changed class selector .footer to a element selector footer ~~ */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* |||||||||||||||| Class selector styles |||||||||||||||| */
/* I'm keeping these class selectors as they seem like a handy way to move a few images left/right where necessary in the html*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
